---
---

{% comment %} 
To make changes to course information see _data/profile-list.yml
{% endcomment %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Awesome Fellowship</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Awesome Inc Fellowship.">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- Styles -->
    <link href="/css/bootstrap.css" rel="stylesheet" defer="defer">    
    <link href="/css/exo-font.css" rel="stylesheet" defer="defer">
    <link href="/css/journal-font.css" rel="stylesheet" defer="defer">
    <link href="/css/flexslider.css" rel="stylesheet" defer="defer">	
	<link href="/css/jquery.fancybox-1.3.4.css" rel="stylesheet" defer="defer">	
	<link href="/css/responsive.css" rel="stylesheet" defer="defer">
    <link href="/css/styles.css" rel="stylesheet" defer="defer"> 
    <link href="/css/modalPopLite.css" rel="stylesheet" type="text/css" defer="defer" >
        <link rel="shortcut icon" href="../favico n.ico" defer="defer"> 
    <link rel="stylesheet" type="text/css" href="/css/default.css" defer="defer"/>
    <link rel="stylesheet" type="text/css" href="/css/component.css" defer="defer"/>

    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Script files -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/jquery.js" ></script>
    <script src="/js/jquery.easing-1.3.pack.js" ></script>
    <script src="/js/jquery.flexslider.js" ></script> 
	<script src="/js/jquery.fancybox-1.3.4.pack.js" ></script> 
    <script src="/js/jquery.mousewheel-3.0.4.pack.js"  ></script>
	<script src="/js/jquery.gmap.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="/js/jquery.form.js"></script>		
    <script src="/js/custom.js"></script>
	<script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/jquery.videoBG.js"></script>
    <script src="/js/modalPopLite.js"></script>
        <script src="/js/modalPopLite.min.js"></script>
  <script type="text/javascript" src="/js/angular.js" ></script>
  <script type="text/javascript" src="/js/mentors.js" ></script>
      <script src="/js/modernizr.custom.js" defer="defer"></script>




	<script type="text/javascript">
	$(document).ready(function(){
		$("#map").gMap({  controls: false,
		                  scrollwheel: false,
                      draggable: false,
		                  markers: [{ latitude: 38.04206,
		                              longitude: -84.49257,
                                  icon: { 
                                    image: "http://www.google.com/mapfiles/marker.png",
                                    iconsize: [20, 34],
                                    iconanchor: [9, 34] 
                                  } 
                                }
		                            ],
		                  latitude: 38.04106,
                      longitude: -84.49257,
		                  zoom: 14 });
	});
	</script>

   <script type="text/javascript"> 
   var width = $(window).width();
    $(function () 
      {     
        if (width < 415) {
           $('.stay-connected').attr("href", "http://awesomeinc.us2.list-manage.com/subscribe?u=5114422b2183673d50186748d&id=de5f188075");
        } else {
          $('#popup-wrapper').modalPopLite({ openButton: '#clicker', closeButton: '#close-btn' });
        }
      }); 
    </script> 
 </head>
 
<body data-spy="scroll" data-target=".navbar">

  

    <!-- NAVBAR ############################################### -->
    <div class="navbar navbar-fixed-top" id="navbar">
      <div class="navbar-inner">
        <div class="container">
         
         <a href="/#home" class="brand hidden-phone" id="brand" ><img src="/img/logo.png" alt=""></a>
          
            <ul class="nav">
              <li><a href="/#home">Home</a></li>
              <li><a href="/#accelerator">Overview</a></li>
              <li><a href="/#perks">Perks</a></li>
              <li><a href="/#mentors">Mentors</a></li>
              <li><a href="/#portfolio">Portfolio</a></li>
              <li><a href="/faq.html">FAQ</a></li>
              <li onclick="buttonClick()"><a id="clicker" class="stay-connected" style="color: #FF1440; cursor:pointer">Stay Connected</a></li>
              <li><a href="/apply.html" style="color: #FF1440;">Apply</a></li>
            </ul>

          
        </div>
      </div>
    </div>
    <!-- /NAVBAR ############################################### -->

   <!-- Modal Email Popup ############################################### -->
 
    <div id="popup-wrapper" style="background-color: #ccc;">
      <img src="/img/A-faded.png" style="width:80%; max-width:100%"/>

      <h1>
        Sign up now to get updates on our teams
      </h1>
      <h2>
        Enter your email below:
      </h2>
      <form style="padding:0px" action="http://awesomeinc.us2.list-manage.com/subscribe?u=5114422b2183673d50186748d&id=de5f188075" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input style="margin: auto; width:170px" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input style="color: white; background-color: rgb(212, 63, 58);" onmouseover="this.style.color='rgb(255,155,155)'" onmouseout="this.style.color='white'" type="submit" value="Join Now" name="subscribe" id="mc-embedded-subscribe" class="button">
        <br>
      </form>
      <a id="close-btn" href="#">Close</a> 
    </div> 

    <script>
    var width = $(window).width(), height = $(window).height();
      function buttonClick() {
        if (width < 415) {
          $('.stay-connected').attr("href", "http://awesomeinc.us2.list-manage.com/subscribe?u=5114422b2183673d50186748d&id=de5f188075");
         
        } else {
           $("#popup-wrapper").show();
        }
      }
    </script>
    <!-- /Modal Email Popup ############################################### -->



{{ content }}


<!-- MAP AND FOOTER ########################################## -->

<div id="f">
    <div class="container">
      <div class="row">
    <div class="span4">
      <div class="well">
      <h3>About Awesome Inc</h3>
      <p><h4>We exist to create and grow high-tech startups. We do this by hosting community events, leading technology education courses, and offering a shared workspace environment.</h4></p>
    </div>
    </div>
    <div class="span4">
      <div class="well">
      <h3>Our Headquarters</h3>
      <p><h4>348 E. Main St.<br/>
      Lexington, KY 40507</a><br/>
      <a href="tel:+15022099960">502-209-9960</a><br/>
      <a href="mailto:founders@awesomeinc.org">founders@awesomeinc.org</a><br></h4></p>
    </div>
    </div>
    <div class="span4">
      <div class="well">
      <h3>Newsletter</h3>
      <p><h4>Get monthly updates from the Awesome Inc community.</h4></p>
      <a class="btn btn-red" target="_blank" href="http://eepurl.com/cpRlL">Subscribe</a>
    </div>
    </div>
  </div>
  </div>
  </div>

  <!-- MAP AND FOOTER ########################################## -->

<!-- SPONSORS ############################################### -->

<div id="footer">

  <div class="container">

   <div class="row" >
    <div class="span3" >
      <h3 style="color:#e2e2e2; margin-left: -40px; line-height:50px">Company Sponsors</h3>
    </div>
  </div> 

    <div class="row" id="footer_bar">
     

      <div class="span2">
        <a href="http://www.lexingtonky.gov/" target="_blank"><img src="/img/fuc.png" alt=""></a>
      </div>

      <div class="span2">
        <a href="http://gatton.uky.edu/" target="_blank"><img src="/img/gatton.png" alt=""></a>
      </div>

      <div class="span2">
        <a href="http://www.thinkkentucky.com/" target="_blank"><img src="/img/kced.png" alt=""></a>
      </div>

      <div class="span2">
        <a href="http://kyinnovation.com/" target="_blank"><img src="/img/kin.png" alt=""></a>
      </div>
      
      <div class="span2">
        <a href="http://www.commercelexington.com/" target="_blank"><img src="/img/comlex.png" alt=""></a>
      </div>

      <!-- Row 2 for sponsors ###########################################-->
      <div class="row" >
       </br>
       </br>


        <div class="span2">
          <a href="http://www.apaxsoftware.com/" target="_blank"><img src="/img/Apax_120x54.png" alt=""></a>
        </div>

        <div class="span2">
          <a href="http://www.harper1.com/" target="_blank"><img src="/img/harper_industries.png" alt=""></a>
        </div>

        <div class="span2">
          <a href="http://www.dinsmore.com/" target="_blank"><img src="/img/Dinsmore-&-Shohl_120x28.png" alt=""></a>
        </div>

        <div class="span2">
          <a href="http://www.stites.com/" target="_blank"><img src="/img/Stites-&-Harbison-larger.png" alt=""></a>
        </div>

        <div class="span2">
          <a href="http://www.awesomeinc.org/" target="_blank"><img src="/img/Awesome-Inc_120x40.png" alt=""></a>
        </div>

        

    </div>

  </div>
</div>

<!-- INDIVIDUAL SPONSORS ################################################# -->
<div class="container">

   <div class="row" >
    <div class="span3" >
      <h3 style="color:#e2e2e2; margin-left: -40px; line-height:50px">Individual Sponsors</h3>
    </div>
  </div> 
  <div class="span2">
          <a href="https://www.linkedin.com/profile/view?id=26538354&authType=NAME_SEARCH&authToken=Mjle&locale=en_US&trk=tyah2&trkInfo=tarId%3A1400645521716%2Ctas%3Abrian%20poe%2Cidx%3A1-1-1" target="_blank" class="individualSponsors">Brian Poe</a>
        </div>
      
        <div class="span2">
          <a href="https://www.linkedin.com/profile/view?id=3180213&authType=NAME_SEARCH&authToken=Q0l1&locale=en_US&srchid=2955967591400645567497&srchindex=2&srchtotal=2275&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A2955967591400645567497%2CVSRPtargetId%3A3180213%2CVSRPcmpt%3Aprimary" target="_blank" class="individualSponsors">Chris Young</a>
        </div>

        <div class="span3">
          <a href="https://www.linkedin.com/pub/j-whitney-wallingford/16/3bb/7a6" target="_blank" class="individualSponsors">Whitney Wallingford</a>
        </div>


    <div class="row" id="footer_bar">

<!-- /SPONSORS ############################################### -->


	<!-- FOOTER ############################################### -->
  
   
     <div id="footer">
    
    	<div class="container">
        	
			<div class="row" id="footer_bar">
            	<div class="span12" >
            		<p><a href="http://awesomeinc.org" target="_blank" style="color:inherit;">&copy;2014 Awesome Inc</a></p>
            	</div>
        	</div> 

      	</div><!-- /container -->
    </div><!-- /footer -->

    <!-- /Footer ############################################### -->

<!-- /Google Analytics ############################################### -->
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2028878-11']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
<!-- /Google Analytics ############################################### -->

  </body>
</html>

