---
layout: page
---

{% comment %} 
To make changes to course information see _data/profile-list.yml
{% endcomment %}

{% for profile in site.data.profile-list %}


<!-- Team ############################################### -->
<div class="container">
  <div class="row" id="team-profile">
    <div class="span8">
      <h1>
        {{ profile.company-name }} Hello
      </h1>

    

    </div>
    <div class="span4">
      World
    </div>

  </div>
</div>

<!-- /Team ############################################### -->

{% endfor %}
